.itemList-container {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    min-height: 95vh;
    color: #161616;
    gap: 1.2em;
}


.cardItem {
    background-color: white;
    width: 10em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
    min-width: 10em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.cardItem h6,
.cardItem h5 {
    margin: .1em 0;
    text-transform: capitalize;
}


.cardItem p {
    font-size: .75em;
    margin: 0;
}

.cardItem img {
    width: 8em;
    outline: 4px solid white;
    border-radius: 50%;
    margin-top: 1em;
}

.cardItem a button {
    margin: 1em 0;
}

.cardItem hr {
    width: 10em;
    margin: 0;
}