.formCompra {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 75%;

    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2em 0;
    margin-bottom: 2em;
}

.formCompra .MuiFormControl-root {
    margin: .5em 0;
    width: 80%;
}

.formEmailError {
    font-size: .5em;
    color: red;
    margin: 0;
    width: 80%;
    text-align: left;
}