.successDiv {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fondoId, .fondoId h2 {
    background-color: black;
    border-radius: 5px;
    color: white;
    height: fit-content;
    margin: 0;
    padding: 0.2    em;
}

