* {
    list-style: none;
    text-decoration: none;
}

a {
    color: #ffffffce;
}

nav {
    background-color: #161616;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
    margin-left: 2em;
}


nav ul {
    display: flex;
    padding: 0;
}

nav ul * {
    margin: 0 2em;
}

nav div.cartWidget {
    margin-right: 2em;
}