* {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #161616;
}

a {
    color: #ffffffce;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
}

nav img {
    width: 100px;
}


nav ul {
    display: flex;
}

nav ul li {
    margin: 0 2em;
}

