.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.il-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}

.item-flex {
  border: #ffffff 1px solid;
  margin: 2em 0;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.il-flex div p {
  font-size: .75em;
  margin: 0;
}

.il-flex div h5 {
  margin: 1em 0;
}

.ItemCount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 2em
}

div.ItemCount h5 {
  margin: 0 1em
}