@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-image: linear-gradient(to top, #c1d8fc 0%, #e3eeff 99%, #e3eeff 100%);
}

.App {
  text-align: center;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.AppMain {
  padding-top: 1em;
}

.AppDetail {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1em;
  overflow: hidden;
}


div.loading h2 {
  color: #161616;
  text-align: center;
  margin-top: -3em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e3eeff;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}